<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="../images/code.jpg">
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/cv">PROFILE</a></li>
	        		<li><a href="/blog">BLOG</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:prashant.talele@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ptalele">github.com/ptalele</a></li>
				</ul>
			</footer>
		</body>
	</html>
